.tabs {
	display: flex;
	flex: 1;
	border-bottom: 1px solid #172e45;
	width: 100%;
}

.active .tab {
	border-bottom: 1px solid #3dc9b0;
	color: #fff;
}

.tab {
	padding: 10px 20px;
	border-bottom: 1px solid transparent;
	margin-bottom: -1px;
	cursor: pointer;
	color: #b2b1d8;
}

.tab:hover {
	background-color: rgba(255,255,255,.1);
}