.labelWrapper {
	margin-bottom: 4px;
}

.inputWrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: stretch
}

.caption {
	font-size: 14px;
	margin-top: 2px;
}

.text_error {
	color: red;
}

.text_warning {
	color: gold;
}

.iconWrapper {
	display: inline-block;
	margin-right: 5px;
}