.container {
	cursor: pointer;
	border: 2px solid rgba(0,0,0,.1);
	border-radius: 5px;
	height: 42px;
	font-family: "Sarabun", sans-serif;
	font-size: 17px;
	text-shadow: 2px 2px rgba(0,0,0,.1);
	padding-bottom: 4px;
	position: relative;
	transition: background-color .3s;
}

.hoverLayer {
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
	background: #00000022;
	transition: opacity .3s;
	opacity: 0;
	z-index: 1;
}

.content {
	position: relative;
	z-index: 2;
}

.container:hover .hoverLayer {
	opacity: 1;
}


.size_s {
	height: 32px;
	font-size: 15px;
}

.color_green {
	background: #3dc9b0;
	color: #fff;
}

.color_transparent {
	background: transparent;
	color:#29f3cf;
	border: 0;
}

.hoverLayer_transparent {
	background: #11223399;
}