.row {
	background: #233543;
	width: 100%;
	border: 1px solid #ffffff16;
	border-bottom: 0;
	display: flex;
	align-items: center;
	height: 48px;
}

.row:hover {
	background-color: #ffffff11;
}

.cell {
	padding: 0 8px;
	vertical-align: middle;
}

.colorWrapper {
	width: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dot {
	width: 16px; height: 16px;
	border-radius: 8px;
}

.label {
	font-size: 14px;
	color: #222;
	padding: 2px;
	background: #ccc
}

.direction_buy {
	text-transform: uppercase;
	color: #3dc9b0;
}

.direction_sell {
	text-transform: uppercase;
	color: #fb649b;
}

.mainInfo {
	font-size: 15px;
	line-height: 15px;
}

.secondaryInfo {
	opacity: .8;
	font-size: 14px;
	margin-top: 4px;
}

.column_symbol {
	width: 90px;
}

.column_direction{ 
	width: 60px;
}

.column_amount {
	width: 100px;
}

.column_price {
	width: 80px;
}

.column_status {
	text-transform: capitalize;
}

.status_error, .status_cancelled {
	color: #fb649b;
}

.status_completed {
	color: #3dc9b0;
}