.container {
	display: flex;
	flex: 1;
	height: 100vh;
	min-width: 0;
}

.sidebarWrapper {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	overflow-x: hidden;
}

.contentWrapper {
	display: flex;
	flex: 1;
	min-width: 0;
}