.headCell {
	padding: 0 10px 5px;
	text-align: left;
	cursor: pointer;
}

.headCellNotSortable {
	cursor: default;
}

.row {
	background-color: #eeccff11;
	border-top: 1px solid #00000055;
}

.row:hover {
	background-color: #eeccff22;
}

.rowClickable {
	cursor: pointer;
}

.cell {
	padding: 10px;
	min-height: 45px;
}