.wrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	min-height: 0;
	overflow: hidden;
}

.editor {
	display: flex;
	flex-grow: 1;
	min-height: 0;
	overflow: hidden;
	background: #061725;
}

.bar {
	display: flex;
	flex-shrink: 0;
}