.container {
	height: 300px;
	display: flex;
	flex-direction: column;
	flex: 1;
	background: #082238;
}

.tabsBar {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	padding: 0 10px;
}

.tabs {
	display: flex;
	align-items: stretch;
}

.panelBar {
	display: flex;
	flex: 1;
	background: #061725;
	color: #ddd;
	font-family: 'Fira Code', monospace;
	font-size: 13px;
	overflow-y: auto;
}

.problems {
	display: flex;
}

.buttons {
	margin: 1px 0;
	display: flex;
	align-items: center;
}
