.container {
	height: 300px;
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: stretch;
}

.tabsBar {
	display: flex;
	height: 60px;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.panelBar {
	display: flex;
	flex: 1;
	background: black;
}

.problems {
	display: flex;
}

.errorCount {
	color: red;
	margin-right: 10px;
}

.warningCount {
	color: yellow
}